.upload-box {
  background: #f5f6f8;
  border: 2px dashed #cfd2d7;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.upload-box.drag-over {
  background: #e6f0ff;
  border-color: #0066ff;
}

.upload-box img {
  width: 100%;
  border-radius: 10px;
}
